@model TicoCinema.WebApplication.ViewModels.FoodInventaryViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FoodHistory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FoodName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityChanged)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityChanged)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FoodHistoryId }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
