@model TicoCinema.WebApplication.ViewModels.RegisterFoodViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Foods", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Food</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.FoodName, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.FoodName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FoodName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.UploadedFile, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-8">
                    <input type="file" id="UploadedFile" name="UploadedFile" class="form-control" />
                    @Html.ValidationMessageFor(model => model.UploadedFile, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-12">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
