@using Microsoft.AspNet.Identity

<div id="login">
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()

            <a href="@Url.Action("Index", "Manage")" class="login-btn" title="Manage"><i class="fa fa-user"></i><span class="d-none d-md-inline-block">Hola @User.Identity.GetUserName()!</span></a>
            <a href="javascript:document.getElementById('logoutForm').submit()" class="signup-btn"><i class="fa fa-sign-out"></i><span class="d-none d-md-inline-block">Cerrar sesión</span></a>
        }
    }
    else
    {
        <a href="@Url.Action("Register", "Account")" class="login-btn" id="registerLink"><i class="fa fa-sign-in"></i><span class="d-none d-md-inline-block">Registrarse</span></a>
        <a href="@Url.Action("Login", "Account")" class="signup-btn" id="loginLink"><i class="fa fa-user"></i><span class="d-none d-md-inline-block">Iniciar sesión</span></a>
    }
</div>