@model TicoCinema.WebApplication.Models.CinemaSchedule

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CinemaSchedule</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CinemaScheduleId)

        <div class="form-group">
            @Html.LabelFor(model => model.CinemaId, "CinemaId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CinemaId", String.Empty)
                @Html.ValidationMessageFor(model => model.CinemaId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MovieFormatId, "MovieFormatId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MovieFormatId", String.Empty)
                @Html.ValidationMessageFor(model => model.MovieFormatId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MovieId, "MovieId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MovieId", String.Empty)
                @Html.ValidationMessageFor(model => model.MovieId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BeginDatetime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BeginDatetime)
                @Html.ValidationMessageFor(model => model.BeginDatetime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FinishDatetime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FinishDatetime)
                @Html.ValidationMessageFor(model => model.FinishDatetime)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
