@using TicoCinema.WebApplication.Utils
@model TicoCinema.WebApplication.ViewModels.MovieViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DurationTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DurationTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            <img src="@Url.Content(Model.ImagePath)" alt="Image" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AudienceClassificationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AudienceClassificationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categories)
        </dt>

        <dd>
            @Model.Categories.GetCategoriesSelectedFormat()
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MovieId }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
