@model TicoCinema.WebApplication.ViewModels.CinemaAvailableViewModel

@{
    ViewBag.Title = "Home Page";
}

<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
                <h1 class="h2">Cartelera de películas</h1>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div class="container">
        <div class="row bar">
            <div class="col-md-3">
                <!-- MENU -->
                <div class="panel panel-default sidebar-menu">
                    <div class="panel-heading">
                        <h3 class="h4 panel-title">Recomendaciones</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="nav nav-pills flex-column text-sm category-menu">
                            @foreach (var item in Model.Recomendations)
                            {
                                <li>
                                    <div class="product">
                                        <div class="image"><a href="javascript: void(0)"><img src="@Url.Content(item.MovieImagePath)" alt="" class="img-fluid image1"></a></div>
                                        <div class="text">
                                            <h5><a href="javascript: void(0)">@item.MovieName</a></h5>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                @if (ViewBag.MessageValidation != null)
                {
                    <div role="alert" class="alert alert-danger alert-dismissible">
                        <button type="button" data-dismiss="alert" class="close"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
                        @ViewBag.MessageValidation
                    </div>
                }

                <div class="row products products-big">
                    @foreach (var item in Model.AvailableMovies)
                    {
                        <div class="col-lg-4 col-md-6">
                            <div class="product">
                                <div class="image"><a href="javascript: void(0)"><img src="@Url.Content(item.MovieImagePath)" alt="" class="img-fluid image1"></a></div>
                                <div class="text">
                                    <h5><a href="javascript: void(0)">@item.MovieName</a></h5>
                                    <h6>Audiencia: @item.AudienceClassificationName / Duración: @item.DurationTime minutos</h6><p></p>
                                    <hr />
                                    @foreach (var schedule in item.Schedules)
                                    {
                                        <p class="price">@schedule.MovieFormat.Name</p>
                                        <p class="price"><b><a href="@Url.Action("Create", "CinemaService", new { scheduleId = schedule.CinemaScheduleId })">@schedule.BeginTime</a></b></p>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>