@using TicoCinema.WebApplication.Utils
@model TicoCinema.WebApplication.Models.AudienceClassification
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AudienceClassification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acronym)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acronym)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Restriction)
        </dt>

        <dd>
            @Model.Restriction.GetRestrictionFormat()
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AudienceClassificationId }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
