@model TicoCinema.WebApplication.ViewModels.CinemaViewModel
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Está seguro que desea eliminar este elemento?</h3>
<div>
    <h4>Cinema</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CinemaDesignName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CinemaDesignName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieFormatName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieFormatName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
