@model IEnumerable<TicoCinema.WebApplication.ViewModels.CinemaViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CinemaDesignName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieFormatName)
        </th>
        <th>Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CinemaDesignName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MovieFormatName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CinemaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CinemaId })
        </td>
    </tr>
}

</table>
